<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BingMaps_GPS_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <BingMaps_GPS_WPF.Properties.Settings>
            <setting name="MovementThreshold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CredentialsProviderKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LogPanelWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SettingPanelWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="StatusVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GPSLogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ZoomLevel" serializeAs="String">
                <value>15</value>
            </setting>
        </BingMaps_GPS_WPF.Properties.Settings>
    </userSettings>
</configuration>